.main-container {
  padding: 5%;
}

.container {
  max-width: 90% !important;
}

.wallet-address {
  color:white;
}

.list-items-artifacts {
  display: block;
}

.navbar-class{
  background-color: #f5f5f5 !important;
}

.nav-link {
  color: #3b3c3e !important;
}

.badge {
  margin-left : 5% !important;
}

.btn {
  margin-left: 5% !important;
}